*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #754bb3;
    color: #fff;
}

/* LAYOUT */
.app{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
}

/* IMPUT */
main .aggiungere-todo{
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0 15px;
    outline: none;
    border: none;
    background: #ccc;
    transition: background .3s;
}

main .aggiungere-todo:hover,
main .aggiungere-todo:focus{
    background: #fff;
}

/* ICONA TODO-LIST*/
.todos li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.todos li:last-child{
    border-bottom: 0;
}

.todos li i{
    opacity: 50%;
    cursor: pointer;
    transition: opacity .3s;
}

.todos li i:hover{
    opacity: 1;
}

/* SETTARE SE I TODO SONO FATTI OPPURE NO */
.todos li span.completed{
    text-decoration: line-through;
}